<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76406962889-l0to1l1qu2a7v0k8fcquqav0p3rsknh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76406962889-l0to1l1qu2a7v0k8fcquqav0p3rsknh4</string>
	<key>API_KEY</key>
	<string>AIzaSyDYUXQb6BmxIhK1ypehLKqEs1ZYr8v25Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>76406962889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goshapp.GeoGuessrGames</string>
	<key>PROJECT_ID</key>
	<string>geoguessrgames-3044e</string>
	<key>STORAGE_BUCKET</key>
	<string>geoguessrgames-3044e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76406962889:ios:46f8e1242e7aa9a2632b18</string>
</dict>
</plist>